*{
    margin: 0;
    padding: 0;

}

body{
    width: 100vw;
    height: 100vh;
    background-color: white;    


}



.footer-container{
    width: 50vw;
    height: 12vh;
    background-color: #dddddd;
    border-radius: 20px;
    border: 1px solid rgb(186, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    
    
}

.footer-container .btn{
    text-align: center;
    padding: 10px 18px;
    margin-right: 20px;
    font-weight: 700;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.btn-a{
    color: rgb(187, 255, 255);
}
.btn-r{
    color: gray;
}
.btn-y{
    color: antiquewhite;
}
.btn-g{
    color: green;
}

.btn-o{
    color: orange;
}

.btn-b{
    color: blue;
}